html, body{
    margin: 0;
    padding: 0;
    background-color: #04131C;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}
.main{
    max-width: 420px;
    margin: 30px auto;
}
img{
    margin: 40px auto 20px auto;
    width: 90px;
}
h1{
    font-size: 35px;
}
#endorse-el{
    resize: none;
    color: #8F8F8F;
    background-color: #444059;
    width: 400px;
    height: 180px;
    border: none;
    border-radius: 8px;
    padding: 5px 7px;
    font-size: 20px;
}
.sender{
    color: #8F8F8F;
    background-color: #444059;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin: 4px auto 10px auto;  
    text-align: center;
}
#input-area{
    display: flex;
    justify-content: space-around;
}
button{
    width: 410px;
    height: 70px;
    border: none;
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #28A9F1;
    color: #04131C;
}
.message{
    background: white;
    color: black;
    border-radius: 3px;
}
.tags{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    padding: 8px 8px;
}
#msg{
    display: flex;
    font-size: 20px;
    margin-left: auto;
    padding: 8px 10px;
}